<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            About
        </title>

        <link rel="stylesheet" type="text/css" href="../static/ahb.css">
    </head>
    <body>
        <br><br>
        <p class="standart_text">
            About this website and about me as well.
        </p>
        <br>
        <p class="standart_text">
            I'm Alex Haley (that's my pseudonym), undergraduate student on
            infocommunication technologies and communication systems course,
            also selfeducating on computer science.
        </p>
        <br>
        <p class="standart_text">
            i have been pursuing a lot of productivity in my life
            cause there's a lot of distraction in our world that's trying
            to manipulate our time and life. Because of that, i started to
            think that i need to do something with this. I started to manage
            my time because i was applied as student in the university, and
            because of that i was in need of a lot of study time every single day.
            in First, i started to do pomodoro sessions 60/10, and that was
            quite helpful, but not enough, cause i was in need to also cut off
            some social media stuff and hijack my usage of a smartphone and
            internet as well.
        </p>
        <br><br><br>
        <p class="standart_text">
            <a href="/">
                go back
            </a>
        </p>
        <p class="footer">
            Alex Haley 2024
        </p>
    </body>
</html>
