<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      AlexHaleyBlog
    </title>

    <link rel="stylesheet" type="text/css" href="../static/ahb.css">
  </head>
  <body>
    <br><br>
    <p class="standart_text">
      welcome to the homepage of the AlexHaleyBlog.
    </p>
    <br>
    <p class="standart_text">
      You can find here my posts about what i do on daily basis and how to implement high-quality work and high-quality laisure in your life.
      Also maybe i'll be posting some thech things, my developments and more.
    </p>
    <br><br><br>
    <p class="standart_text">
      <a href="/about">
        about
      </a>
    </p>
    <p class="footer">
      Alex Haley 2024
    </p>
  </body>
</html>
